{% extends "TKCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <br>


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image:url('http://placehold.it/1024x300');">
                <div class="custom-caption">
                    <p class="text-left">
                        Message qui va avec le slide.
                    </p>
                </div>
            </div>
            <div class="item" style="background-image:url({{ asset('bundles/tkcore/img/touba.jpg') }});">
                <div class="custom-caption">
                    <p class="text-left">
                        Touba Mosquée.
                    </p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>

    <div id="main" style="margin-top: 0px;">
        <div class="defileParent" style="margin-top: 0px;">
            <span class="defile" style="margin-top: 0px;"
                    data-text=" Texte défilant en css et l'utilisation de l'attribut data-text pour fournir un roulement continu">
                Texte défilant en css et l'utilisation de l'attribut data-text pour fournir un roulement continu
            </span>
        </div>
    </div>

    {% include "TKXidmaBundle:Xidma:playlist_block.html.twig" %}
    <span class="sep_line"></span>

    <script>
        jQuery(function($){

            var demo = {
                init : function(){
                    this.carouselControls();

                    $(window).resize(function(){ demo.carouselControls(); });
                },
                carouselControls : function(){
                    var $container = $('#main');
                    var $slider = $('#carousel-example-generic');
                    var padding = 15;

                    var rt = ($(window).width() - ($container.offset().left + $container.outerWidth()));
                    $slider.find('.right.carousel-control').css('right', rt + padding).show();
                    $slider.find('.left.carousel-control').css('left', rt + padding).show();
                }
            };

            demo.init();

        });
    </script>
{% endblock %}

