.jumbotron{
    background : url('../img/touba.jpg') ;
    height: 330px;
    width: 100%;
    max-height: 50%;
    max-width: 100%;
    min-height: 20%;
    min-width: 30%;
}

#main{
    background:#000;
    color:#fff;
}

.carousel{
    height:300px;
}
.carousel .item{
    height:300px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.carousel .item .custom-caption{
    width:60%;
    margin:0 auto;
    text-align:center;
    padding:10% 0;
    font-size:30px;
    color:#fff;
    font-weight:600;
}

.carousel .carousel-control.left,
.carousel .carousel-control.right,
.carousel .carousel-control.left:hover,
.carousel .carousel-control.right:hover{
    background:none;
}

.carousel .carousel-control{
    width: 20px;
    height:20px;
    top:50%;
}

.carousel .carousel-control span{
    position:relative;
    left:0;
}

/* Texte défilant */

.defileParent {
    display: block;
    margin: 3em auto;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    width: 90%;
}
.defile {
    display:block;
    -webkit-animation:linear marqueelike 20s infinite ;
    -moz-animation:linear marqueelike 20s infinite ;
    -o-animation:linear marqueelike 20s infinite ;
    -ms-animation:linear marqueelike 20s infinite ;
    animation:linear marqueelike 20s infinite ;
    margin-left:-100%;
    text-align:left;
    padding-top: 4px;
    height:30px;
}


.defile:after {
    content:attr(data-text);
    position:absolute;
    white-space:nowrap;
    padding-left:10px;
}

@-webkit-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-moz-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-o-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@-ms-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}
@keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
}

@media only screen and (max-width: 860px) {
    .defileParent {
        display: block;
        margin: 3em auto;
        overflow: hidden;
        position: relative;
        table-layout: fixed;
        width: 100%;
    }

    .defile {
        display:block;
        -webkit-animation:linear marqueelike 15s infinite ;
        -moz-animation:linear marqueelike 15s infinite ;
        -o-animation:linear marqueelike 15s infinite ;
        -ms-animation:linear marqueelike 15s infinite ;
        animation:linear marqueelike 15s infinite ;
        margin-left:-100%;
        padding:0 5px;
        text-align:left;
        height:25px;
    }
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: left; margin:10px; background:transparent; color:#FFFFFF;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
.sep_line{float: left;width: 100%;border-bottom: 1px solid #DFE0E4;margin: 3px 0 3px 0px;height: 0px;}



.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.search-background img {
    width: 100%;
}
.well-searchbox {
    min-height: 20px;
    min-width: 400px;
    padding: 19px;
    position: absolute;
    z-index: 80;
    top: 90px;
    right: 100px;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-searchbox label {
    color: #fff;
}